*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    width: 1300px;
    margin: auto;
   padding: 0 10px;
}
.navbar{
    position: fixed;
    width: 100%;
    
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    color:black ;
}
.navbar .menu li a{
    color: white;
    display: inline-block;
    font-size: 25px;
    margin: 25px;
    font-weight: 600px;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
/* home styling */

.home{
    display: flex;
    background-color:lightgrey;  
   height: 100vh;
   min-height: 500px;
   font-family: 'Times New Roman', Times, serif;
   color: white;
  
}
.img1{
    margin-top: 80px;
   
}

   

.home .home-content .text-1{
    font-size: 25px;
    
}
.home .home-content .text-2{
    font-size:40px;
    
}
.home .home-content .text-3{
    font-size: 60px;
}
.home-content{
    margin-left: 50%;
    margin-top: 90px;  
}


/* about */

#about{
    margin-top:90px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 25px;
    text-align: justify;
    background-color: black;
    color: white;
    padding: 25px;
    line-height: 75px;
}
#skill{
    margin-top:90px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 25px;
    text-align: justify;
    background-color: black;
    color: white;
    padding: 25px;
    line-height: 75px;
}
#contact{
    margin-top:90px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 25px;
    text-align: justify;
    background-color: black;
    color: white;
    padding: 25px;
    line-height: 75px;
}

/* hover */

#HomeH:hover{
    background-color: blue;
}
#AboutA:hover{
    background-color: blue;
}
#SkillsS:hover{
    background-color: blue;
}
#ContactC:hover{
    background-color: blue;
}


/* active */

#HomeH:active{
    background-color: chartreuse;
}
#AboutA:active{
    background-color: chartreuse
}
#SkillsS:active{
    background-color: chartreuse
}
#ContactC:active{
    background-color: chartreuse
}
.logo{
    background-color: lightgray;
    padding: 16px;
    border-radius: 25px;
}
span{
    background-color: darkslategray;
    border-radius: 16px;
    padding: 6px;
}

.text-1{
    font-size: x-large;
    display: inline-block;
    padding: 16px;
    border-radius: 25px;
    color:black;
    
    
}
.text-2{
    
    display: inline-block;
    padding: 16px;
    border-radius: 25px;
    color:cornflowerblue;
}
.text-3{
    
    display: inline-block;
    padding: 16px;
    border-radius: 25px;
    color:crimson;
    font-weight: 600; 
}
@keyframes hi{
    from{background-color:darkgreen;}
    to{background-color: crimson;}
}